/* Estilos para AContactos.jsx */

.acontactos-container {
 background: linear-gradient(135deg, rgba(21,67,97,0.5) 60%, rgba(40,21,73,0.7) 100%);
  border-left: 4px solid #154360;
  padding: 28px 24px;
  border-radius: 14px;
  margin-bottom: 32px;
   align-items: center;
   width: 97%;
}
.acontactos-resumen {
  background: rgb(40, 21, 73, 0.9);
  border: 2px solid   #154360;
  border-radius: 12px;
  padding: 16px 20px;
  margin-bottom: 28px;
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
  width: 60%;
  justify-self: center;
}
.acontactos-resumen h2 {
  color: #fcfbfe;
  margin: 0 12px 0 0;
  font-size: 1.2rem;
}

.acontactos-listas h3 {
  color: #154360;
  font-size: 1.4rem;
  background-color:#f0ecfa;
  width: 55%;
  text-align: center;
  padding: 1%;
  border-radius: 10px;
  justify-self: center;
}

.acontactos-listas {
  display: flex;
  gap: 32px;
  width: 45%;
}
.acontactos-bloque {
  background: #ffffff;
  border: 2px solid  #154360;
  border-radius: 12px;
  background-image: url('/main-background-remove.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  padding: 18px 14px;
  min-width: 440px;
  flex: 1 1 350px;
  
}
.acontactos-bloque h3 {
  color: #281549;
  margin-bottom: 12px;
}
.acontactos-bloque ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #154360 transparent;
  max-height: 40vh;
}
.acontactos-bloque li {
  background: rgb(40, 21, 73, 0.9);
  color: #f0ecfa;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 10px 12px;
  border: 1px solid #281549;
  font: 1em sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.acontactos-btn, .contactos-button {
  background:#fff ;
  color: #281549;
  border: none;
  border-radius: 4px;
  padding: 10px 16px;
  cursor: pointer;
  transition: background 0.2s;
}
.acontactos-btn:hover, .contactos-button:hover {
  background: #d7bde2;
}
.contactos-label {
  margin-right: 8px;
}

.p-p {
  color: #f7f5f9;
  font-size: 1.8rem;
  font-weight: 600;
  text-shadow: 2px 2px 20px rgb(234, 222, 255),
             -2px 2px 20px rgb(234, 222, 255),
             2px -2px 20px rgb(234, 222, 255),
             -2px -2px 20px rgb(234, 222, 255);
}


.men-ach{
  display: grid;
  grid-template-areas: 
    "tres-estilos dos-estilos";
}

.tres-estilos {
  grid-area: tres-estilos;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 40%;
}

.dos-estilos {
  grid-area: dos-estilos;
  display: flex;
  flex-direction: column;
  gap: 16px;
}