.ausuarias-admin-container {
  border-left: 4px solid #154360;
  background: linear-gradient(135deg, rgba(21,67,97,0.5) 60%, rgba(40,21,73,0.7) 100%);
  padding: 25px;
  border-radius: 12px;
  height: 95%;
  width: 97%;
}

.ausuarias-titulo {
  color:#ffffff;
  font-size: 2rem;
  font-weight: 700;
}

.ausuarias-loading, .ausuarias-error {
  color: #154360;
  font-weight: 600;
  margin: 16px 0;
}

