.ausuarias-admin-container {
  border-left: 4px solid #154360;
  padding: 25px;
  border-radius: 12px;
  height: 95%;
  width: 55%;
}

.ausuarias-titulo {
  color: #154360;
  font-size: 2rem;

  font-weight: 700;
}

.ausuarias-loading, .ausuarias-error {
  color: #154360;
  font-weight: 600;
  margin: 16px 0;
}

