.contactanos-container {
  display: grid;
  grid-template-areas: 
  "contactanos-form contactanos-fundadora contactanos-horario";
  align-items: center;
  padding: 2rem;
   background: linear-gradient(135deg, rgba(21,67,97,0.5) 60%, rgba(40,21,73,0.7) 100%);
  border-left: 5px solid #154360;
  border-radius: 18px;
  border-radius: 16px;
  width: 174vh;
  margin: 1rem;
  height: 66vh;
  justify-self: center;
}

.contactanos-form {
  grid-area: contactanos-form;
  width: 100%;
  max-width: 400px;

}

.contactanos-fundadora {
  grid-area: contactanos-fundadora;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
border-radius: 12px;
background-image: url('/main-background-remove.png');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
  width: 45vh;
  height: 50vh;
}

.contactanos-fundadora img {
  width: 36vh;
  height: auto;
  margin-bottom: 0.5rem;

}

.contactanos-fundadora h3 {
  margin: 0;
  color: #6a4fb6;
  font-weight: 600;
}

.contactanos-horario {
  grid-area: contactanos-horario;
  text-align: center;
  background: #eae6fa;
  padding: 1rem 2rem;
  border-radius: 8px;
}

.contactanos-horario h4 {
  margin-bottom: 0.5rem;
  color: #6a4fb6;
}