.footer-container {
  background: #154360;
  color:#e4dcf9;
  padding: 4px 8px 4px 8px;
  text-align: center;
  position: relative;
  bottom: 2vh;
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  box-sizing: border-box;
}

.contact-btn {
  background: #1b084d;
  color: white;
  border: none;
  padding: 2px 8px;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0;
  transition: background 0.3s;
}

.contact-btn:hover {
  background: #795f9f;
}

.footer-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 24px;
  text-align: left;
}

.footer-info li {
  background: #1b084d;
  color: white;
  border: none;
  padding: 2px;
  font-size: 1.1rem;
  border-radius: 5px;
  margin-bottom: 0;
  transition: background 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.footer-link {
  color: #e4dcf9;
  text-decoration: none;
  transition: color 0.3s;
  cursor: pointer;
}

.insta-icon{
  width: 24px;
  height: 24px;
  transition: fill 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;}