.registro-container {
    background-image: url('/main-background-remove.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.8);
   width: 90vh;
   height: 65vh;
   display: flex;
   flex-direction: column;
   border-radius: 25px;
}

.registro-form {
  background: #fff;
  padding: 4vh;
  border-radius: 12px;
  gap: 1vh;
  width: 75vh;
  margin: 4vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  align-self: center;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #154360 transparent;
  height: 35vh;
}

.formulario-titulo {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #273c75;
  text-align: center;
  font-weight: bold;
  position: relative;
  top: 2vh;
}

.registro-form label {
  font-weight: 500;
  margin-bottom: 0.2rem;
  align-self: center;
}

.registro-form input {
  padding: 0.6rem;
  border: 1px solid #dcdde1;
  border-radius: 6px;
  font-size: 1rem;
  transition: border 0.2s;
  width: 35vh;

}

.registro-form input:focus {
  border: 1.5px solid #4078c0;
  outline: none;
}

.registro-form-button {
 
  padding: 0.7rem;
  background: #4078c0;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
  justify-self: center;
  align-self: center;
}

.registro-form-button:hover {
  background: #305a8c;
}