.header-admin {
  background: #d7bde2;
  padding: 16px;
  text-align: center;
}

.header-admin h1 {
  color: #154360;
  font-size: 2.3rem;
  margin: 0;
  letter-spacing: 1px;
  font-weight: 700;
  border-bottom: 4px solid #154360;
  border-radius: 12px;
  width: 72%;
}