/* Estilos para PublicacionesLista.jsx */

.publicaciones-table-container {
  height: 55vh;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #154360 transparent;
  background: #ffffff;
border-radius: 12px;
background-image: url('/main-background-remove.png');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
  width: 96vh;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(2,136,209,0.07);
}

.publicaciones-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  padding: 2vh;
}

.publicaciones-table th {
  background-color: rgb(21, 67, 96);
  color: #fff;
  padding: 10px 8px;
  font-weight: 600;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.publicaciones-table td {
 padding: 10px 8px; 
}

.publicaciones-table tr {
 background: rgb(215, 189, 226, 0.9);
  color: #333;
  padding: 10px 8px; 
}

.publicaciones-table tr:hover {
  background-color:rgb(40, 21, 73, 0.5);
   color: #fff;
}

.publicaciones-table tr:last-child td {
  border-bottom: none;
}
.publicaciones-table button {
  background-color: #c5deee;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 4px 12px;
  margin-right: 4px;
  cursor: pointer;
  transition: background 0.2s;
}
.publicaciones-table button:hover {
  background: #01579b;
}
