/* Estilos para UsuariasLista.jsx */
.usuarias-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 12px;
}

.usuarias-table th, .usuarias-table td {
  padding: 12px 16px;
  text-align: center;

}
.usuarias-table th {
  background:#281549;
  color: #fff;
  font-weight: 600;
  position: sticky;
  top: 0;
  border-radius: 5px;
}

.usuaria-inactiva {
  background: rgb(215, 189, 226, 0.9);
  color:#281549;
  font-weight: 600;
}

.usuaria-activa {
  background: rgb(215, 189, 226, 0.9);
  color:#281549;
  font-weight: 600;
}


.ausuarias-bloque-tabla {
  border: 2px solid  #154360;
  border-radius: 14px;
  margin: 24px 0;
  padding: 48px 12px;
  background-image: url('/main-background-remove.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(215, 189, 226, 0.8);
  max-height: 60vh;
  width: 100%;
  position: relative;
  bottom: 2vh;
}

.usuarias-tbody-container {
  max-height: 50vh; 
  overflow-y: scroll;
  scrollbar-width: thin;
  border-radius: 5px;
  scrollbar-color: #154360 transparent;
  position: relative;
  bottom: 3vh;
}

.usua-lis-btn {
  border: none;
  padding: 8px 8px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5vh;
  background-color:rgb(40, 21, 73, 0.5);
}

.user-list-icon{
  width: 24px;
  height: 24px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-list-icon:hover {
  background-color: #d7bde2;
  border-radius: 5px;
}