.page-grid-admin-usuarias {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "aside main"
    "footer footer";
  min-height: 100vh;
}

.page-grid-admin-usuarias > :first-child {
  grid-area: aside;
  background: #d7bde2;
}

.page-grid-admin-usuarias > :nth-child(2) {
  grid-area: main;
  background: #d7bde2;
}

.page-grid-admin-usuarias > :last-child {
  grid-area: footer;
  background: #154360;
}