/* Estilos para la página de administración de publicidad */

.page-grid {
  display: grid;
  grid-template-columns: 250px 1fr;
  min-height: 100vh;

}

.adminpub-main {
  display: flex;
  flex-direction: row;
  gap: 22px;
  justify-content: center;
  align-items: flex-start;
  padding: 12px 7px;
  background: linear-gradient(135deg, rgba(21,67,97,0.5) 60%, rgba(40,21,73,0.7) 100%);
  border-left: 5px solid #154360;
  border-radius: 18px;
  height: 80vh;
 
}

.adminpub-section {
 
  border-radius: 10px;
  height: 75vh;
  background-image: url('/aside-admin-remove.png') !important; 
  background-size: cover;
  background-position: center;
 
}

.adminpub-section h2 {
  font-size: 1.3rem;
  color: #2c3e50;
  margin-bottom: 4px;
  position: relative;
  bottom: 8px;
  text-shadow: 8px 8px 10px rgb(234, 222, 255),
             -8px 8px 10px rgb(234, 222, 255),
             8px -8px 10px rgb(234, 222, 255),
             -8px -8px 10px rgb(234, 222, 255);
}


/*
@media (max-width: 900px) {
  .page-grid {
    grid-template-columns: 1fr;
  }
  .adminpub-main {
    flex-direction: column;
    padding: 16px 4vw;
    max-width: 98vw;
  }
  .adminpub-section {
    max-width: 98vw;
    min-width: unset;
  }
}

*/