.page-grid-inicio {
  display: grid;
  grid-template-columns: 28vh 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "aside main"
    "footer footer";
  min-height: 100vh;
}

.page-grid-inicio > :first-child {
  grid-area: aside;
}

.page-grid-inicio > :nth-child(2) {
  grid-area: main;   background: #d7bde2;
}

.page-grid-inicio > :last-child {
  grid-area: footer;
    background: #154360;
  position: relative;
  top: 1vh;
}


/* Estilos avanzados para formularios de inicio y registro */
.formularios-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  justify-items: center;
  align-items: start;
  margin: 10vh;
}
