.page-grid-contactos {
  display: grid;
  grid-template-columns: 28vh 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "aside main"
    "footer footer";
  min-height: 100vh;
}

.page-grid-contactos > :first-child {
  grid-area: aside;
}

.page-grid-contactos > :nth-child(2) {
  grid-area: main;
}

.page-grid-contactos > :last-child {
  grid-area: footer;
    background: #154360;

}