.page-grid-mercado {
  display: grid;
  grid-template-columns: 28vh 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "aside main"
    "footer footer";
  height: 90vh;
}

.page-grid-mercado > :first-child {
  grid-area: aside;
  background: #d7bde2;
}

.page-grid-mercado > :nth-child(2) {
  grid-area: main;
  background: #d7bde2;

}

.page-grid-mercado > :last-child {
  grid-area: footer;
   background: #154360;
}