.grid-muro {
  display: grid;
  grid-template-columns: 28vh 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "aside main"
    "footer footer";
  min-height: 100vh;
}

.grid-muro > :first-child {
  grid-area: aside;
}

.grid-muro > :nth-child(2) {
  grid-area: main;
   background: #d7bde2;
}

.grid-muro > :last-child {
  grid-area: footer;
     background: #154360;

}